/* 弯着角
border-radius：15px；
 */
body {
  background-color: white;
  margin-right: 0;
}

/* For iPad */
/* @media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Add your styles for iPads here */
/* } */

/* For Mobile */
@media screen and (max-width: 600px) {
  /* Add your styles for mobile devices here */

  body {
    margin-right: 0;
    min-width: 0;
  }
  .container {
    width: 95%;
  }

  /* Add other responsive styles for article, audio, and video if necessary */
}

.container {
  width: 100%;
  margin: 0 auto;
  /* position: relative; */
}
header {
  background-color: #ff9e03;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.phlio {
  width: 8em;
  height: 4em;
  /* float: left; */
  padding: 10px 0;
  margin-left: 3px;
}

.related-h1 {
  font-size: 40px;
  background-color: rgba(255, 166, 0, 0.52);
  font-family: serif;
  color: rgb(44, 44, 44);
  font-weight: bold;
  padding: 1px;
  margin: 0px;
  border-top: 3px soild rgb(255, 119, 0);
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  /* overflow-x: auto; */
}

.related-nav {
  /* width: 80%;
  font-size: 25px;
  background-color: rgba(255, 166, 0, 0.525);
  font-family: serif; */
  width: 0 auto;
  float: left;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline-block;
  /* margin: 0 35px; */
  margin-left: 120px;
  padding-top: 50px;
  padding-bottom: 20px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

a:link {
  color: rgba(0, 0, 0, 0.568);
  font-weight: 500;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgba(255, 38, 38, 0.98);
  font-weight: bold;
  text-decoration: underline wavy rgb(0, 123, 255);
}

a:active {
  background-color: black;
  font-style: italic;
}

.article-div2 {
  background-color: rgba(255, 197, 88, 0.437);
  padding: 15px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-family: serif;
}

.article-div2 dt {
  font-size: large;
}

.article-div3 {
  background-color: rgba(255, 221, 157, 0.108);
  padding-bottom: 35px;
}

.summary {
  font-size: 50px;
  padding: 20px;
  font-family: cursive;
  font-weight: bold;
  text-align: center;
  background-color: antiquewhite;
}

.summarypre {
  background-color: #ffe7c1a1;
}

.longlistli {
  font-size: larger;
  padding: 40px 40px 40px 80px;
  width: 150px;
  float: left;
}

.row {
  margin-left: 200;
  padding: 5px;
}

/* .row:hover {
  color: rgba(255, 38, 38, 0.98);
  font-weight: bold;
  text-decoration: underline wavy rgb(0, 123, 255);
} */

.gallerysheet:hover {
  transform: scale(1.05); /* Increase the size by 5% on hover */
  border: 2px solid #ff9e03; /* Add a border on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
  opacity: 0.8; /* Reduce opacity to 80% */
}

.gallery {
  float: left;
  width: 200px;
  flex: 20%;
  padding: 19px;
  margin: 19px;
  text-align: center;
}

/* .table-01 {
  display: flex;
  justify-content: left;
} */
.between {
  clear: both;
  font-size: medium;
  text-align: center;
  font-family: sans-serif;
  float: left;
}

.betweenstrong {
  font-size: 25px;
}

table {
  font-size: 30px;
  width: 600px;
  text-align: left;
  color: rgb(13, 0, 255);
  background-color: rgb(255, 255, 255);
  margin-left: 17%;
  /* border: 2px soild #8c8c8c; */
  border-collapse: collapse;
}

td,
th {
  /* border: 1px solid #8c8c8c89; */
  padding: 16px 24px;
  margin: 0px;
  text-align: center;
}

thead th {
  background-color: #087f5b;
  color: #fff;
  width: 20%;
}

tbody tr:nth-child(even) {
  background-color: rgba(203, 203, 203, 0.415);
}

.shadowbox1,
.shadowbox2,
.shadowbox3,
.shadowbox4 {
  font-size: 15px;
  width: 20em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 15px 15px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  border-radius: 15px;
  display: inline-block;
  position: relative;
  vertical-align: center;
  margin-left: 30px;
}

.shadowbox1,
.shadowbox2,
.shadowbox3,
.shadowbox4:hover :visited {
  color: aquamarine;
}

section {
  background-color: rgba(255, 221, 157, 0.108);
}

section h2 {
  text-align: left;
  font-family: cursive;
  font-size: 35px;
  margin-top: 0;
  padding: 50px 0 0px 30px;
  /* border: 3px solid salmon; */
  display: inline-block;
}

.momentss {
  clear: both;
  overflow: auto;
  font-size: 50px;
}

.momentp {
  font-size: 20px;
  float: left;
  width: 40%;
  padding: 3em;
  background-color: #ff9e03;
  border: 10px soild #444;
  border-width: 10px;
  margin-top: 5%;
}

summary {
  font-size: 29px;
  text-align: left;
  padding: 20px;

  /* background-color: #fcede156; */
}

audio {
  width: 45%;
  height: 50px;
  /* color: #087f5b;
  border: 1px soild #ff7d19; */
  border-radius: 5px;
  left: 50%;
  top: 50%;
}

video {
  clear: both;
  padding-left: 1em;
  width: 50%;
  height: 38em;
  border: #fff;
  position: relative;
}

.form01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  clear: both;
  padding-left: 2em;
  padding: 20px;
  background-image: url(img/new\ try01.jpeg);
  background-size: 2000px 200px;
  border: 2px solid #444;
  margin: 0;
}

.button12 {
  padding-left: 0;
}

.form01 label,
.form01 input,
.form01 button {
  margin-right: 0px;
}

.lastcomment {
  padding: 10px;
  text-transform: uppercase;
}

.form01 textarea {
  /* margin-left: 15px; */
  margin-top: 10px;
  height: 30px;
  width: 200px;
}

.telemail {
  background-color: #ccc;
  font-size: 15px;
  text-align-last: left;
  padding: 30px;
}

.foot {
  font-size: 10px;
}
