body {
  background-color: white;
  margin: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
  /* position: relative; */
}
header {
  background-color: #ff9e03;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.phlio {
  width: 100px;
  height: 80px;
  /* float: left; */
  padding: 10px 0;
  margin-left: 3px;
}

.related-h1 {
  font-size: 40px;
  background-color: rgba(255, 166, 0, 0.52);
  font-family: serif;
  color: rgb(44, 44, 44);
  font-weight: bold;
  padding: 1px;
  margin: 0px;
  border-top: 3px soild rgb(255, 119, 0);
  text-align: center;
  letter-spacing: 3px;
}

.related-nav {
  /* width: 80%;
  font-size: 25px;
  background-color: rgba(255, 166, 0, 0.525);
  font-family: serif; */
  float: left;
  display: flex;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline-block;
  /* margin: 0 35px; */
  margin-left: 120px;
  padding-top: 50px;
  padding-bottom: 20px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

a:link {
  color: rgba(0, 0, 0, 0.568);
  font-weight: 500;
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgba(255, 38, 38, 0.98);
  font-weight: bold;
  text-decoration: underline wavy rgb(0, 123, 255);
}

a:active {
  background-color: black;
  font-style: italic;
}

.article-div2 {
  background-color: rgba(255, 196, 88, 0.192);
  padding: 10px;
  margin: auto;
  text-align: center;
}
.article-div2 dt {
  font-size: large;
}

.article {
  background-color: rgba(251, 223, 193, 0.449);
  height: 99%;
}

article div h2 {
  text-align: center;
  font-family: fantasy;
  color: #ff9203;
  font-size: 5em;
  margin-top: 0%;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  background-image: url(img/preparationsb.jpeg);
  background-size: 2000px 200px;
  /* border-radius: 100px; */
}

.article-div3 {
  background-color: rgba(255, 221, 157, 0.108);
}

/* .table-01 {
    display: flex;
    justify-content: left;
  } */
.between {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  /* text-align: center; */
  font-family: serif;
  border: 3px solid #ffac70dc;
  border-width: 50px;
  margin-top: 0%;
  margin-bottom: 5%;
}

.undertablep {
  font-size: 28px;
  font-weight: bold;
  font-family: serif;
  padding-left: 40px;
  padding: 30px 20px 0px 20px;
  float: left;
  width: 32%;
  border: 3px solid #44444489;
  border-width: 45px;
  margin-left: 1em;
  margin-right: 2em;
  margin: auto;

  position: relative;
}

table {
  font-size: 25px;
  width: 33%;
  height: 33%;
  text-align: left;
  color: rgb(13, 0, 255);
  background-color: rgb(255, 255, 255);
  margin-top: 120px;
  margin-left: 660px;
  padding-left: 2em;
  /* border: 2px soild #8c8c8c; */
  border-collapse: collapse;
}

td,
th {
  /* border: 1px solid #8c8c8c89; */
  padding: 26px 20px;
  margin: 0px;
  text-align: center;
}

thead th {
  background-color: #ff8f26;
  color: #fff;
  width: 20%;
}

tbody tr:nth-child(even) {
  background-color: rgba(203, 203, 203, 0.415);
}

main {
  clear: both;
}

summary {
  padding-top: 3em;
  font-size: 30px;
  text-align: left;

  font-family: fantasy;
}

/* .jp1,
  .jp2,
  .jp3 {
  } */

/* Three image containers (use 25% for four, and 50% for two, etc) */
/* .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */

.row {
  margin-left: 200;
  padding: 5px;
}

/* .row:hover {
    color: rgba(255, 38, 38, 0.98);
    font-weight: bold;
    text-decoration: underline wavy rgb(0, 123, 255);
  } */

.gallerysheet:hover {
  transform: scale(1.3); /* Increase the size by 5% on hover */
  border: 2px solid #ff9e03; /* Add a border on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow on hover */
  opacity: 0.8; /* Reduce opacity to 80% */
}

.column {
  float: left;
  width: 200px;
  flex: 20%;
  padding: 19px;
  margin: 19px;
  text-align: center;
}

.punderhoverpics {
  font-size: 30px;
  clear: both;
  margin: 30px;
  border: 5px solid #ff77006f;
  border-width: 30px;
}

.telemail {
  background-color: #ccc;
  font-size: 15px;
  text-align-last: left;
  padding: 30px;
  clear: both;
}

.foot {
  clear: both;
  font-size: 10px;
}
