#myTable input {
  margin-left: 5px;
}

#myTable {
  border: 2px solid green;
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 5em;
}
#myTable td,
th {
  border: 1px solid green;
  padding: 5px;
}
#myTable th {
  color: #fff;
  background-color: #a7c942;
}
#button {
  color: #fff;
  /* background-color: rgb(255, 77, 0); */
  border-radius: 3px;
  /* border: 2px solid orange; */
  margin-left: 180px;
}
